body{margin:0px;padding:0px;}
nav{background: gray; overflow: hidden}
nav ul {padding: 0px}
nav ul li{display: inline;margin-left:12px;}
nav ul li a{text-decoration: none;color:white;background: cadetblue;padding:26px;}