*{margin:0px;padding: 0px;}
nav{height:50px;background:darkred;}
nav>ul{padding-bottom: 15px;display:flex;}
nav>ul>li{color:black;list-style: none; margin-left: 30px;margin-top: 0.1px;font-size: 20px;}
nav>ul>li>a{background:gray;text-decoration: none;font-family: sans-serif;color:blanchedalmond;padding:13px;display:block;}
nav>ul>li:hover{background: cadetblue;}
